{% extends "configuracion/sidebar.html" %}



{% block links_block %}

<!-- Custom fonts for this template -->
<link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
  type="text/css">

<link
  href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
  rel="stylesheet">



<!-- Custom styles for this page -->
<link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet"
  type="text/css">

{% endblock %}

{% block config_content %}

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Cabecera de página -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Opciones de pago</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
      <!-- IFO: CREAR REPORTE TEMPORAL... PUEDE QUE NO LLEGUEMOS A HACERLO (PRIORIZAR FUNCIONALIDADES BÁSICAS) -->
      <i class="fas fa-download fa-sm text-white-50"></i> Generar reporte
    </a>
  </div>


  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Aqui puedes añadir o eliminar las tarjetas que tienes</h6>
    </div>
    <div class="card-body row">

      <div class="row col-md-12 col-12">
        <!-- SECCIÓN 1: Información Personal -->
        <div class="col-md-12 mb-4">
          <div class="p-3 border rounded bg-light shadow-sm h-100">
            <h6 class="fw-bold mb-3 text-dark">
              Tarjetas de
              <span class="text-info fw-medium">Credito / Debito</span>
              guardadas
            </h6>

            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Propietario</th>
                    <th>Número</th>
                    <th>Caducidad</th>
                    <th>CVC</th>
                  </tr>
                </thead>
                <tbody>
                  {% for tarjetas in tarjeta %}
                  <tr>
                    <td>{{tarjeta.nombre_propietario}}</td>
                    <td>{{tarjeta.numero}}</td>
                    <td>{{tarjeta.caducidad}}</td>
                    <td>{{tarjeta.cvc}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- SECCIÓN 2: Cambiar Correo Electrónico -->
        <div class="col-md-12 mb-4">
          <div class="p-3 border rounded bg-light shadow-sm">
            <h6 class="fw-bold mb-3">Agregar una tarjeta</h6>
            <form class="row" action="" method="POST">
              <!-- { url_for('config.agregar_tarjeta') }} -->
              <div class="mb-2 col-12 col-md-3">
                <label class="small text-muted mb-0" for="propietario_tarjeta">Propietario</label>
                <input class="form-control form-control-sm bg-white" type="text" id="propietario_tarjeta" required>
              </div>
              <div class="mb-3 col-12 col-md-3">
                <label class="small fw-bold mb-0" for="nueva_tarjeta">Número</label>
                <input class="form-control form-control-sm" type="email" id="nueva_tarjeta" name="nueva_tarjeta"
                  required>
              </div>
              <div class="mb-3 col-12 col-md-3">
                <label class="small fw-bold mb-0" for="caducidad_tarjeta">Caducidad</label>
                <input class="form-control form-control-sm" type="date" id="caducidad_tarjeta" name="caducidad_tarjeta"
                  required>
              </div>
              <div class="mb-3 col-12 col-md-3">
                <label class="small fw-bold mb-0" for="cvc_tarjeta">CVC</label>
                <input class="form-control form-control-sm" type="text" id="cvc_tarjeta" name="cvc_tarjeta" max="3"
                  required>
              </div>
              <div class="mb-12 col-md-12 d-flex justify-content-end">
                <button class="btn btn-primary btn-sm px-3" type="submit" style="font-size: 0.8rem;">Actualizar
                  Email</button>
              </div>
            </form>
          </div>
        </div>

      </div> <!-- End Row -->

      <hr>
      <div class="text-muted small col-12">
        Styling for the area chart can be found in the <code>/js/demo/chart-area-demo.js</code> file.
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts_block %}

<!-- Bootstrap core JavaScript-->
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Page level plugins -->
<script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>

{% endblock %}